<div class="flash-messages"> {# <<< Adicionado este contêiner #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes mb-4 p-4 rounded text-center">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}"> {# <<< Alterado aqui para usar a classe 'alert' #}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>